*{
  margin: 0;
  padding: 0;
}

.myVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.home__container{
  height: 100%;
  background-color: black;

  .homepage__partition{
    margin-top: 2%;
    h4{
      margin-left: 1%;
      color: white;
    }
  }
}

.home__banner{
  height:37em;
  background-color: white;
  color: white;
  .banner__name{
    margin-top: 10%;
    margin-left: 5%;
    font-size: 5em;
  }

  .banner__overview{
    max-width: 50%;
    margin-left: 5%;
  }

  .banner__button{
    margin-top: 1%;
    margin-left: 5%;
    .second__button{
      margin-left: 1%;
    }
  }
}
.banner__name{
  z-index: 10;
  margin-top: 35%;
  margin-left: 5%;
  font-size: 1.5em;
  color: white;
}

.navbar{
  background: linear-gradient(180deg, rgba(26, 25, 25, 0.767) 0%, rgba(0, 0, 0, 0) 50%, rgba(245,245,245,0) 100%);
  .nav__text{
    width: 30%;
  }
}

.navbar__logo{
  max-width: 20%;
  max-height: 10%;
}

.card{
  margin-left: 1%;
  height: 200px;
  width: 400px;
  flex: none;
  max-width: 400px;
  transition: all .4s; /* Animation */
}

.card:hover{
  transform: scale(1.06);
}

.trContainer{
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.trContainer::-webkit-scrollbar {
  display: none;
}

.footer__container{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #333333;
  .footer{
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.padded{
  padding-left: 100px;
}
.comedy{
  margin-bottom: 25px;
}

.modal{
  background-color: RGBA(2,4,0,0.16);
  color: white;
  display: flex;
  justify-content: center;
}

.modal .modal-content{
  background-color: black;
}
.footer__logo{
  margin: auto 0;
  max-width: 25%;
}

.modal__img{
  max-width: 100%;
  
}